body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #0f172a;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 25px black;
}

h1 {
  text-align: center;
  color: #38bdf8;
}

label {
  display: block;
  margin-top: 12px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

p {
  margin-top: 12px;
  font-weight: bold;
}

.ll {
  margin-top: 15px;
  text-align: center;
  color: #93c5fd;
  
}
